/* .routine-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fit-content;
    gap: 5vw;
    margin: 3vh 3vw 5vw 3vw;
} */

.routine-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 3px solid #333;
    padding: 2vw;
    line-height: 4vh;
    max-height: 100%;
    box-shadow: 5px 3px 5px rgb(70, 70, 70);
}

.routine-card:hover {
    background-color: rgba(253, 136, 40, 0.2);
}

.routine-card:nth-child(4n),
.routine-card:nth-child(4n-1) {
    background-color: rgb(180, 131, 139);
}

.routine-card .action-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}